DATABASE_URL=postgres://postgres:postgres@localhost:5432/cotizaciones_db
SESSION_SECRET=AoXuq3gLr2vduxEYaeHotd+IN8qOIbTh9Xz1KLKBNIk=
PUBLIC_APP_NAME=Technological Cameras
PUBLIC_APP_VERSION=1.0.0
PUBLIC_BASE_URL=http://localhost:4321
BACKUP_PATH=./backups
NODE_ENV=development