---
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="Acceso | Sistema de Cotizaciones">
  <div class="min-h-screen flex items-center justify-center bg-slate-100">
    <slot />
  </div>
</MainLayout>
